/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 상단 메뉴 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  margin: 0;
  font-size: 34px;
  margin-left: 200px;
}

.header .menu {
  display: flex;
  gap: 15px;
  font-size: 14px;
  margin-right: 200px;
}

/* 네비게이션 바 스타일 */
.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 20px;
}

.navbar a {
  margin: 0 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* 영화 섹션 스타일 */

.movies {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  position: relative;
}

.movie-card {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.movie-title {
  color: black;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  width: 200px;
  margin-top: 5px;
}

/* 오버레이 스타일 */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.movie-card:hover .overlay {
  opacity: 1;
}

.overlay button {
  border: none;
  padding: 8px 16px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: black;
}
.overlay button:first-child {
  background-color: white; /* 투명한 흰색 */
}

.overlay button:last-child {
  background-color: red; /* 투명한 빨간색 */
}
.movie-card:hover img {
  transform: scale(1.1);
}
