* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 1rem;
}

header h1 {
  margin-right: auto;
}

nav {
  display: flex;
  gap: 1rem;
}

nav a {
  font-size: 20px;
  margin: 10px;
  color: black;
  text-decoration: none;
}

.login-button {
  margin-left: auto;
  color: black;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
/*
.login-button:hover {
  background-color: #777;
}
  */

.movie-section {
  padding: 2rem;
}

.movie-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-item {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  width: 200px;
}

.movie-item img {
  width: 100%;
  height: auto;
}

button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
