body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 상단 메뉴 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  margin: 0;
  font-size: 34px;
  margin-left: 200px;
}
.header h1 a {
  display: block; /* 링크를 블록 요소로 변경 */
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상 유지 */
}
.header .menu {
  display: flex;
  gap: 15px;
  font-size: 14px;
  margin-right: 200px;
}

/* 네비게이션 바 스타일 */
.navbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  font-size: 20px;
}

.navbar a {
  margin: 0 50px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.filter-section {
  background-color: #ddd;
  padding: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
}

.filter-section select,
.filter-section input[type="text"] {
  width: 100%;
  padding: 8px;
}

.search-btn {
  grid-column: span 5;
  text-align: right;
}

.search-btn button {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
}

.slider {
  position: relative;
  width: 100%; /* 슬라이더 크기 */
  max-width: 800px; /* 최대 슬라이더 크기 */
  margin: 20px auto;
  overflow: hidden; /* 슬라이더 밖의 내용 숨기기 */
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out; /* 부드러운 슬라이드 효과 */
}

.slides img {
  width: 100%; /* 슬라이더 전체 너비에 맞추기 */
  flex-shrink: 0; /* 이미지 크기 고정 */
}

.recommendations {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.movie-list li {
  margin: 5px 0;
  font-size: 18px;
  font-weight: bold;
}
